<!DOCTYPE html>
{% import 'lanigerBootstrapBundle::bootstrap.macro.twig' as bootstrap %}
<html>
    <head>
        {% include 'lanigerBootstrapBundle::assets.include.twig' %}
    </head>
    <body>
        Hello {{ name|default('as') }}!
    </body>
</html>
