<!DOCTYPE html>
{% import 'lanigerBootstrapBundle::bootstrap.macro.twig' as bootstrap %}
<html>
    <head>
        <title>ownnotes</title>
        {% include 'lanigerBootstrapBundle::assets.include.twig' %}
        {% block head %}{% endblock %}
    </head>
    <body class="container-fluid">
        {% block body %}{% endblock %}
    </body>
</html>